body{background-color: cornflowerblue; font-size: 10px; margin: 0px; padding: 0px;}

ul {display: flex;
list-style-type:none; justify-content:space-between; flex-wrap: wrap;}

ul li {height: 100px; width: 100px; border: solid 2px cornsilk; border-radius: 100px; background-color: crimson; text-align: center;}